In [4]:
from sqlalchemy import create_engine
import pandas as pd

In [5]:
engine = create_engine("postgresql://postgres:password@localhost:5432/game1")

In [6]:
adv_players = pd.read_csv("adv_players.csv")
adv_players.to_sql("adv_players", engine, if_exists="replace", index=False)

29

In [7]:
adv_team = pd.read_csv("adv_team.csv")
adv_team.to_sql("adv_team", engine, if_exists="replace", index=False)

2

In [8]:
hustle = pd.read_csv("hustle.csv")
hustle.to_sql("hustle", engine, if_exists="replace", index=False)

19

In [9]:
P_shots = pd.read_csv("Pacers_shotchart.csv")
P_shots.to_sql("P_shots", engine, if_exists="replace", index=False)

234

In [10]:
players = pd.read_csv("player_data.csv")
players.to_sql("players", engine, if_exists="replace", index=False)

29

In [11]:
players_4 = pd.read_csv("players_four_factors.csv")
players_4.to_sql("players_4", engine, if_exists="replace", index=False)

29

In [12]:
plays = pd.read_csv("plays.csv")
plays.to_sql("plays", engine, if_exists="replace", index=False)

496

In [13]:
team = pd.read_csv("team_data.csv")
team.to_sql("team", engine, if_exists="replace", index=False)

2

In [14]:
team_4 = pd.read_csv("teams_four_factors.csv")
team_4.to_sql("team_4", engine, if_exists="replace", index=False)

2

In [15]:
w_prob = pd.read_csv("win_prob.csv")
w_prob.to_sql("w_prob", engine, if_exists="replace", index=False)

57

In [23]:
OKC_id = '1610612760'
PAC_id = '1610612754'
game_id = '42400401'

In [30]:
preview = pd.read_sql("SELECT * FROM team;", engine)
preview.columns

Index(['Unnamed: 0', 'GAME_ID', 'TEAM_ID', 'TEAM_NAME', 'TEAM_ABBREVIATION',
       'TEAM_CITY', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT',
       'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK',
       'TO', 'PF', 'PTS', 'PLUS_MINUS'],
      dtype='object')